








































<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en_us">
<head>

















<title lang="en">PTCeBanking&nbsp;Home&nbsp;</title>


<script src="/das/common/scripts/wfwiblib.js?p=2016.01.1.39" type="text/javascript"></script><script src="/das/common/scripts/jquery.js?p=2016.01.1.39" type="text/javascript"></script><script src="/das/common/scripts/util.js?p=2016.01.1.39" type="text/javascript"></script><style type="text/css">
						.auxAjaxAnchor {display: none;}
					</style><div class="OneLinkNoTx"><a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=tbOcwC3GeiouwTWoY4A18n7Un5QUkoT0" class="auxAjaxAnchor exceptionNotifier" title="used by AJAX artifacts"></a></div>
		 <link href="https://a248.e.akamai.net/f/248/3608/90m/online-static.wellsfargo.com/das/common/2016.01.1.39/styles/vudu.css" media="screen,projection,print" rel="stylesheet" type="text/css"/><link href="https://a248.e.akamai.net/f/248/3608/90m/online-static.wellsfargo.com/das/common/2016.01.1.39/styles/wibscreen.css" media="screen,projection,print" rel="stylesheet" type="text/css"/><link href="https://a248.e.akamai.net/f/248/3608/90m/online-static.wellsfargo.com/das/common/2016.01.1.39/styles/wibprint.css" media="print" rel="stylesheet" type="text/css"/><link href="https://a248.e.akamai.net/f/248/3608/90m/online-static.wellsfargo.com/das/common/2016.01.1.39/styles/mm.css" rel="stylesheet" type="text/css"/><!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/das/common/styles/msie.css?p=2016.01.1.39"></link><![endif]-->

</head>




    <div id="header">





<div id="mainheader" lang="en">
    <a href="#background" id="skipnav"><img src="C://E-bank Project/PTCeBanking_Logo.png" height="1" width="1" border="0" class="inline" alt="Skip to page content." /></a>
    <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=xuZddvZFi0JddE5F2CWvCmQXfqJ69IrJ" id="accessibilityhelp"><img src="C://E-bank Project/PTCeBanking_Logo.png" height="1" width="1" border="0" class="inline" alt="Accessibility Information" /></a>
  <div id="topBar" class="noprint">&nbsp;</div>
  <div id="masthead"><a href="https://www.wellsfargo.com/" accesskey="M" class="headerLink"><img src="C://E-bank Project/PTCeBanking_Logo.png" height="62" width="62" border="0" class="inline OneLinkNoTx" id="logo" alt="Main"></a>









			<script src="/das/common/scripts/GoogleGSA.js"></script>

			<div id="topSearch">

			<form id="frmSearch" name="gs" method="GET"
				action="https://www.wellsfargo.com/search/search" role="search"
				aria-label="Sitewide" class="noprint searchForm">


				<label for="inputTopSearchField" class="searchhide">Search</label>
				<div>
				<span class="searchhide" id="srchInstructions">Use up and down
					arrows to navigate suggestions.</span>
					<input name="q" autocomplete="off"
						autocapitalize="off" id="inputTopSearchField"
						onkeyup="ss_handleKey(event)" type="text" aria-autocomplete="both"
						role="combobox" aria-controls="search_suggest" size="26" maxlength="75" placeholder="Search"/>
				<input type="image" src="https://a248.e.akamai.net/f/248/3608/90m/online-static.wellsfargo.com/das/common/images/product_search_btn.gif" alt="Product Search" name="searchBtn" id="searchBtn" class="register"/>
				</div>

				<table class="ss-gac-m" id="search_suggest" role="presentation"></table>
			</form>
			</div>




<div id="utility" class="noprint">


























						<a href="logout" accesskey="S" class="prominentNavLinks">Sign Off</a>






				 |






						<a href="https://www.wellsfargo.com/" accesskey="M" class="headerLink">Home</a>






				 |






						<a href="/AccountProfile" class="headerLink" title="ATM &amp; Store Locator">Edit Profile</a>






				 |






						<a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=aivwrILzfSEl3OQOn7n6dCQ9q9dwHzeP" accesskey="N" class="headerLink" title="Secure Contact Us">Contact Us</a>






				 |



















<script src="/das/common/scripts/inlang/inlangOverlay.js?p=2016.01.1.39" language="javascript" type="text/javascript"></script>
<link href="https://a248.e.akamai.net/f/248/3608/90m/online-static.wellsfargo.com/das/common/2016.01.1.39/styles/inlang.css" rel="stylesheet" type="text/css"/>

 <script src="/das/common/scripts/jquery-ui.js?p=2016.01.1.39" language="javascript" type="text/javascript"></script>





<div id="inlangoverlay" class="c71b OneLinkNoTx" style="position: absolute; overflow: hidden; height: 270px; width: 520px; top: 160px; left: 645px; z-index: 400; outline: medium none; display: none;" tabindex="0">
	<span id="c71tabReceiverTop" class="hiddenAccessibilityTextPS" tabindex="0"></span>
	<div class="c71bDragHandle">
		<div  class="c71aTitle2">
			<div>
			<h2 class="inlangheader" tabindex="0">
				 Wells Fargo en espa&ntilde;ol
			</h2>
			</div>

            <a href="#" class="closeLink hideBox" id="inlangclose">
            <img alt="Close" src="https://a248.e.akamai.net/f/248/3608/90m/online-static.wellsfargo.com/das/common/images/close_lb_weak.gif" />
            </a>
			<a class="clearer"> </a>

		</div>
		<div class="contentWrap" style="overflow: hidden;">
        	<div class="content">
            	<div class="c11text">Parts of our website are currently offered in Spanish as a courtesy to our customers. Most of our products and services are available in English only. Please select <strong>Contin&uacute;e</strong> if you wish to view the Spanish content that is available at this time or <strong>Cancele</strong> if you wish to continue viewing the content in English.</div>
            	<div class="c11text">En la actualidad ofrecemos parte de nuestro sitio web en espa&ntilde;ol como una cortes&iacute;a para nuestros clientes. La mayor&iacute;a de nuestros productos y servicios se encuentran disponibles s&oacute;lo en ingl&eacute;s. Seleccione <strong>Contin&uacute;e</strong> si desea ver el contenido disponible en espa&ntilde;ol en este momento o <strong>Cancele</strong> si desea continuar viendo el contenido en ingl&eacute;s.</div>
			</div>
			<div id="standardBackground" style="width:100%">
				<div id="stdButtonBarDiv" class="stdButtonBarDiv">
					<button id="inlangcontinue" class="stdPrimaryButton" value="continue" >Contin&uacute;e</button>
					<button id="inlangcancel" class="stdSecondaryButton" value="cancel" >Cancele</button>
					<input type="hidden" class="legend.hide" id=screenName value="AccountProfile"></input>
					<div class="clearAll"></div>
				</div>
			</div>
		</div>

	</div>
</div>



<div class="clearAll">&nbsp;</div></div></div><div id="LOBHead"><img src="C://E-bank Project/PTCeBanking_Logo.png" alt='Wells Fargo Online' width="275" height="25" class="inline" border="0" align="bottom"/></div></div><div class="clearer">&nbsp;</div>
</div>

    <img src="https://a248.e.akamai.net/7/248/3608/1d8352905f2c38/online-static.wellsfargo.com/common/images/shim.gif" id="minWidth" alt="">







<div id="navigationbar" role="tabpanel">
<!-- Tab Level 1 / Tab Level A -->




    <table id="menu" cellspacing="0">
      <tr><td><div id="menu1Wrap">

        <a href="https://online.wellsfargo.com/das/channel/accountSummary" title="Accounts - Tab" role="tab">Accounts</a>

        <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=m_u0i70Eu8lft2_QGiYD-MYpkdsEVGUy" title="Bill Pay - Tab" role="tab">Bill Pay</a>

        <a href="https://online.wellsfargo.com/das/channel/startTransferTransaction" title="Transfers - Tab" role="tab">Transfers</a>

        <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=gKzn453X4OEkAYt4s3NTrmPU-Pnnxcvl" title="Brokerage - Tab" role="tab">Brokerage</a>

        <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=VF7wyvzsp4YG3wlpcFz1ndBA5Nqu3M2t" class="selected selectedTab" title="Account Services - Tab - Selected" role="tab">Account Services</a>

        <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=5P79txVg_nGe0HKz7EDyz1V21x2O98f3" id="messageIcon" title="Messages &amp; Alerts - Tab" role="tab">Messages &amp; Alerts</a>

        <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=dGdHzpmsjZ3HlNyc_y2AxiuoTsVD-0af" id="offerStar" title="Products &amp; Offers -Tab" role="tab">Products &amp; Offers</a>

      </div></td></tr>
    </table>


<!-- Tab Level 2 / Tab Level B -->




    <div class="shading">&nbsp;</div>
    <!-- NO Level 2 tabs -->




<!-- Tab Level 3 / Tab Level C -->



    <!-- NO Level 3 tabs -->



</div>



    <!-- page layout table -->
    <div id="background">
      <table id="content" cellpadding="0" cellspacing="0" border="0" width="100%">
        <colgroup>
          <col width="*">
          <col width="15">
          <col width="0">
        </colgroup>
        <tr>




          <td id="panel" align="left" valign="top">


            <div id="bodychrome">














<div id="printLink" class="printLinkAccountActivityDiv printLinkAccActyDivBodyChrome"></div>





<h1 style="display:inline">












Account Profile








</h1>






































<noscript><p lang="en">For optimal interaction with the Wells Fargo Web site, we recommend that you enable JavaScript.</p></noscript><p class="warnNoCss" lang="en">For optimal viewing of the Wells Fargo Web site, we recommend that you enable <acronym title="Cascading Style Sheets">CSS</acronym>.</p><div id="pageerrors">






</div>


<div id="pageIntro" class="noprint"></div>









        </div>
            <div id="bodycontent">













<form id="accountProfileCommand" name="accountProfileForm" action="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=3_NghzwGat_29l21SJedz8VEQ1kgex0u" method="post">








<p id="accountSelector" class="noprint">
<label for="selectedAccountKey" class="label">Account</label><br>
			<select id="selectedAccountKey" name="accountProfileViewBean.selectedAccountKey">
       			<option value="7ad9d7c1-0784-4803-ac89-9c363aa0faf8" selected="selected">EVERYDAY CHECKING XXXXXX7827</option><option value="9b7df6ab-bf86-471b-9902-81a8709bd577">WAY2SAVE&reg; SAVINGS XXXXXX8078</option><option value="6283d25a-6ae5-472e-8131-3489049ec8c6">COLLEGE CARD XXXX-XXXX-XXXX-1570</option><option value="eAGNUctOwzAQvPcrotxbk9QFZAVLVQ89IBBS+QHXWWhE/JDtFPL3rO2ASrnkZO3szuzsuBFBMdDStNA+wrgzOoAOxZfqtWfYeyhPIVhGCIhu6eUJlPCrT+h7/ybcu1lJowgSujCS7esTKXmDJBRKL/uAce9slQs9qCM4Tte03tzWNb2j9P5mUzUkWpiakc1Q0wo9Puf5qqJ55C+csd8FUSSt9UEEwIU22T/E6uca6+dc48GdOwnWmXPXgiOoRMpJQg4+zNGYEonjRqHGJR9j2spZTq5UElGCRzt8URQpKnTZDjIchuMOf5DvX3IsV/AC0Ys8eEOmlFL0/36ffwP2Qr/T">Debit Card XXXX-XXXX-XXXX-8051</option>
			</select>
<input type="submit" name="Go" value="Go"  />
</p>
</form>
<TABLE class="accountProfileData" summary="Account Profile of Demand Deposit accounts">

    <TR>
        <TH id="accountNumber" class="firstCol">

            Account number

        </TH>
        <TD headers="accountNumber" class="firstCol">
            XXXXXX7827
        </TD>
    </TR>



    <TR>
        <TH id="accountNickName">

            Account nickname

        </TH>
        <TD headers="accountNickName">

            <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=JL3MiXii2oLeSqzpNiOwXPHwqO5hLcAb">EVERYDAY CHECKING</a>

        </TD>
    </TR>



    <TR>
        <TH id="productType">

            Product type

        </TH>
        <TD headers="productType">

            EVERYDAY CHECKING

        </TD>
    </TR>



    <TR>
        <TH id="dateOpened">

            Date opened

        </TH>
        <TD headers="dateOpened">

            10/08/13

        </TD>
    </TR>



    <TR>
        <TH id="overdraftProtection">

            Overdraft protection

        </TH>
        <TD headers="overdraftProtection">
            Overdraft Protection is provided by WAY2SAVE® SAVINGS XXXXXX8078.





                    <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=D_JQ_mpS6q6Z2LreDRVN7a7nHGyJ1jxP">Change Overdraft Protection</a>


        </TD>
    </TR>



 <TR>
        <TH id="debitCardOverdraftService">
            Debit Card Overdraft Service
        </TH>

        <TD headers="debitCardOverdraftService">
        	This account is currently enrolled in Debit Card Overdraft Service.


	        			<a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=zWvELR6o1DLaRtCQaaFdoyJTXDU4xj9Z&amp;link_name=ODS_UnenrolDbtCrd&amp;pageName=DDAAccountProfile" title="Unenroll">Unenroll</a>



        </TD>



  </TR>




    <TR>
        <TH id="statementAddress">
            Mailing Address
        </TH>
        <TD headers="statementAddress">
            <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=85Ql9OGoGONeMYplFxbp8oWJmMGT3Oix">1400 UNIVERSITY AVE
                    <BR>



                    UNIT B204C <BR>





                    RIVERSIDE,


                    CA,


                    92507-4457</a>
        </TD>
    </TR>



    <TR>
        <TH id="statementDelivery">

            Statement Delivery

        </TH>
        <TD headers="statementDelivery">
            Online.



	              <a href="/das/channel/documentDeliveryPreference?origination=DelvPref&amp;link_name=changeStatementDeliveryOptions&amp;pageName=accountProfile">Change Delivery Preferences</a>



        </TD>
    </TR>




    <TR>
        <TH id="statementDelivery">

            Statement cycle

        </TH>
        <TD headers="statementCycle">

            15th Business Day Each Month

        </TD>
    </TR>





    <TR>
        <TH id="serviceChargeWaiver">
            Monthly Service Fee
        </TH>
        <TD>

       			<a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=3gzNpD-hhLqtT37uPphm7e6_FdiBtC26&amp;link_name=MSF_VwFeeDetail&amp;pageName=DDAAccountProfile" title="monthlyServiceFee">View Fee Details</a>

        </TD>
    </TR>





</TABLE>



        </div>
          </td>
          <td align="left" valign="top" class="noprint"><div style="width:15px">&nbsp;</div></td>
          <td id="sidebar" align="left" valign="top" class="noprint">












<div id="enforcer">







<!-- For displaying the Important Documents section -->



























</div>

      </td>
        </tr>
      </table>
    </div>






    <div id="footer" lang="en">
        <div id="navfooter">










    <!-- no 3rd tier tab footer links to display -->








    <!-- no 2nd tier tab footer links to display -->











      <a href="https://online.wellsfargo.com/das/channel/accountSummary" title="Accounts - Tab">Accounts</a>

      |
      <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=m_u0i70Eu8lft2_QGiYD-MYpkdsEVGUy" title="Bill Pay - Tab">Bill Pay</a>

      |
      <a href="https://online.wellsfargo.com/das/channel/startTransferTransaction" title="Transfers - Tab">Transfers</a>


      |
      <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=VF7wyvzsp4YG3wlpcFz1ndBA5Nqu3M2t" title="Account Services - Tab">Account Services</a>

      |
      <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=5P79txVg_nGe0HKz7EDyz1V21x2O98f3" id="messageIcon" title="Messages &amp; Alerts - Tab">Messages &amp; Alerts</a>

      |

    <br />


<br />









      |
      <a href="https://online.wellsfargo.com/das/cgi-bin/session.cgi?sessargs=aivwrILzfSEl3OQOn7n6dCQ9q9dwHzeP" accesskey="N" class="headerLink" title="Secure Contact Us">Contact Us</a>



      |
      <a href="/logout" accesskey="S" class="prominentNavLinks">Sign Off</a>






        </div>

















  </body>
</html>


